/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  /*color: #fff;*/
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #eee;
}
body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  /*padding-top: 100px;*/
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/* Center me baby */
.centered-guy {
   margin: auto;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;r
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(45,45,45,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a8a8a8;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #222;
  border-bottom-color: #222;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: black;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    /*position: fixed;*/
    top: 0;
  }
  .mastfoot {
    /*position: fixed;*/
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle;*/
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.container-white {
  background: #eee;
  border-radius: 5px;
  padding: 30px;
  text-align: left;
  color: #333;
  text-shadow: none;
}

.container-white a {
  /*color: #333;*/
  cursor: pointer;
}

.container-white h1 {
  margin-top: 0;
}

.container-white h1,
.container-white h2,
.container-white h3,
.container-white h4,
.container-white h5,
.container-white h6 {
  text-align: center;
}

.container-white .btn-default,
.container-white .btn-default:hover,
.container-white .btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #333;
}

.panel {
  color: #333;
  text-shadow: none;
}

.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
}

.btn-small {
  padding: 0 10px;
}

.modal-content {
  color: #333;
  text-shadow: none;
}

/* Fix the annoying problem where list groups in the accordion floats in the middle. */
.accordion-list-fix .panel-body {
  padding: 0;
}

.accordion-list-fix .panel-body .list-group-item {
  border-left: none;
  border-right: none;
}

.accordion-list-fix .panel-body .list-group-item:last-child {
  border-bottom: none;
}

.accordion-list-fix .panel-body .list-group-item:first-child {
  border-top: none;
}

.chl-status {
  margin-right: 10px;
}



.accordion-list-fix .disabled {
  background-color: white;
  color: lightgrey;
}

.week-disabled>.panel-heading {
  background-color: #EEE;
}

.week-disabled>.panel-heading {
   color: #8C8C8C;
}

.btn-in-row {
  margin-top: -5px;
  margin-right: 10px;
}

.chl-empty {
   cursor: pointer;
}

.chl-disabled {
    background-color: #ddd;
    color: #8A8A8A !important;
    cursor: default;
}

/* Clever blank glyphicon from stack overflow */
.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

/* Toastr default shadow looks like hot garbage */
#toast-container .toast {
  box-shadow: 0 0 12px #191919;
}

/* Form junk */
.correct-mc {
    background-color: rgb(187, 255, 187);
}

.wrong-mc {
    background-color: #FFDBDB;
}

/*#fix-tab-border>a {
  border-color: rgba(0, 0, 0, 0);
  padding: 11px;
}*/

#fix-tab-border>a:hover {
  background-color: #888;
}

#fix-tab-border.active>a {
  background-color: #337ab7;
}

#fix-tab-border.active>a, #fix-tab-border>a:hover {
  color: white;
}

#fix-tab-border>a {
  color: #337ab7;
}

.square-top {
  border-radius: 0px 0px 5px 5px;
}

@media screen and (max-width: 767px) {
  .smol-push {
    margin-left: 22px;
  }
}

@media screen and (min-width: 768px) {
  #expand-long {
    width: 454px;
  }
}
